@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');

        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #F7E1C5;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction:column;
        }
        
        h1{
        	font-size:5vw;
        	color:#7D1411;
            font-family: "Tiro Devanagari Sanskrit", serif;
  			font-weight: 700;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            max-width: 1200px;
            width: 100%;
        }

        .card {
            border: 2px solid #7D1411;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #F2D2A1;
            width: 300px;
            overflow: hidden;
            transition: transform 0.3s;
            cursor: pointer;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card p {
            margin: 10px;
            font-size: 14px;
            color: #3D0C0A;
        }

        .card .c_no {
            font-size: 18px;
            font-weight: bold;
            color: #7D1411;
        }

        .card .c_summary {
            font-style: italic;
        }
